.menu{
 list-style-type: none;
 margin: 0;
 padding: 10px;
 text-align: left;
}
.menuItem{
 display: inline-block;
 margin-right: 15px;
}
.menuItem a{
    color: rgb(83, 83, 83);
}
.menuContainer {
    border: 1px solid lightgray;
    margin: 10px 0;
    background-color: lightgray;
}
.a {
    text-decoration: none;
}
.a:hover {
    color: coral;
}